header.header
	.header__main
		.header__slider
			ul.header__slider-ul
				each img in ['canvas1-1264X843', 'canvas2-1266X844', 'canvas3-1265X844']
					li.header__slider-li
						img(src="img/#{img}.png").header__slider-img
		.header__logo
			a(href='#').header__logo-a
				span.header__logo-real Real
				span.header__logo-estate Estate
		.header__folow
			.header__folow-right
				span.header__folow-span Folow Us:
				each soc in ['soch1-23X23', 'soch2-23X23', 'soch3-23X23']
					a(href='#').header__folow-s
						img(src='img/#{soc}.png').header__folow-img

		nav.header__nav
			ul.header__nav-ul
				each nav in ['Main', 'Baying', 'Selling', 'Renting', 'Finance', 'Contacts']
					li.header__nav-li
						a(href='#').header__nav-a #{nav}

