@import 'mixins/mixins'

.footer
	size 1262px 125px
	background-color #000
	text-align center
	&::before
		content ""
		display(inline-block)
		size 0px 100%
		vertical-align middle
.footer__main
	display(inline-block)
	vertical-align middle
.footer__main-span
	display(block)
	color #fff
	font-family Arial
	font-size 14px
	line-height 25px
