@import 'mixins/mixins'

.header
	width 100%
	background url('../img/header.png') repeat-x
	.header__main
		width 1000px
		margin auto
		.header__top
			size 100% 100px
			.header__top-appleshop-span
				absolute left -1000px
			.header__top-appleshop
				float left
				relative()
				size 300px 100px
				.header__top-appleshop-img
					display(block)
					absolute top 0 bottom 0 left 0
					margin auto
			.header__contact
				float right
				relative()
				.header__contact-addr
					display(table-cell)
					size 300px 100px
					vertical-align middle		
					text-align right
					.kod
						color blue
					.tel
						color aqua
					.email
						color red
						display(block)
		.header__nav
			.header__nav-ul
				list-style none
				margin 0
				padding 0
				width 1000px
				.header__nav-li
					arrow(35deg, 40px, #f7f7f7)
					.header__nav-a
						display(table-cell)
						color #5c7b98
						height 40px
						vertical-align middle
						relative()
						z-index 10
						text-decoration none
				.header__nav-li:hover
					arrow(35deg, 40px, #dcf6e0)
				.header__nav-li-active
					arrow(35deg, 40px, #00b9fe)
					.header__nav-a
						display(table-cell)
						color #fff
						height 40px
						vertical-align middle
						relative()
						z-index 10
						text-decoration none
		.breabcrumbs
			height 66px
			.breabcrumbs__list
				float left
				.list
					display(inline-block)
			.header__view
				float right
				.header__view-select
					display(inline-block)
					-webkit-appearance none
				.another-ul
					display(inline-block)
					list-style none
					.another-li
						display(inline-block)
.clearfix
	clearfix()

		
