@import 'mixins/mixins'

.bx-wrapper
	.bx-viewport
		left 0
		box-shadow none
		border none
		transform none
.header
	font-family vegur
.header__main
	relative()
	width 1200px
.header__slider
	size 1200px 640px
.header__slider-ul
	list-style none
	padding 0
	margin 0
	font-size 0
.header__slider-li
	size 1200px 640px
.header__logo
	absolute top 0 left 160px
	z-index 10
.header__logo-a
	text-decoration none
.header__logo-real
.header__logo-estate
	font-size 64px
	line-height 66px
	font-weight bold
.header__logo-real
	color #2098f5
.header__logo-estate
	color #fff
.header__folow
	width 1200px
	height 65px
	background-color #272727
	overflow hidden
	absolute top 0 right 0 left 0
	opacity 0.8
.header__folow-right
	absolute right 0 bottom 0
	width 250px
.header__folow-span
	color #fff
	font-size 24px
	line-height 26px
.header__folow-img
	display(inline-block)
	max-size 23px
	margin-left 6%
.header__nav
	absolute right 0 bottom 0 left 0
	width 1200px
.header__nav-ul
	width 1000px
	margin auto
	list-style none
	padding 0
	background-color #272727
	opacity 0.8
.header__nav-li
	display(inline-block)
	vertical-align middle
	text-align center
	margin-left 6%
.header__nav-li:hover
	background-color #2098f5
.header__nav-a
	display(table-cell)
	vertical-align middle
	color #fff
	text-decoration none
	height 70px
	font-size 28px
	font-weight bold
.clearfix
	clearfix()

		
