@import 'mixins/mixins'

.header
	width 1000px
	.header__top
		size 100% 100px
		.header__top-appleshop-span
			absolute left -1000px
		.header__top-appleshop
			float left
			relative()
			size 300px 100px
			.header__top-appleshop-img
				display(block)
				absolute top 0 bottom 0 left 0
				margin auto
		.header__contact
			float right
			relative()
			.header__contact-addr
				display(table-cell)
				size 300px 100px
				vertical-align middle		
				text-align right
				.kod
					color blue
				.tel
					color aqua
				.email
					color red
					display(block)
	.header__nav
		.header__nav-ul
			list-style none
			margin 0
			padding 0
			width 1000px
			.header__nav-li
				display(inline-block)
				text-align center
				height 40px
				.header__nav-a
					line-height 41px
					font-size 18px
					height inherit
					relative()
					&::before
						display(block)
						background-color red
						absolute top 0
					&::after
						display(block)
						background-color blue
						absolute bottom 0


					// display(table-cell)
					// height inherit
					// vertical-align middle
.clearfix
	clearfix()


		
