@import 'mixins/mixins'
:focus
	outline none
html
	size 100%
body
	size 1280px 1500px
	background #000 url('../img/background.png') no-repeat
.content
	size 774px 1339px
	background #000 url('../img/content-background.png') no-repeat
	margin 10px 0px 0px 150px
.content__header
	height 93px
	&::before
		content ""
		display(inline-block)
		vertical-align bottom
		height 100%
		width 0
.content__header-logo
	vertical-align bottom
	font-size 28px
	line-height 30px
	margin-left 85px
.content__header-nav-button
	display(inline-block)
	vertical-align bottom
	border none
	height 28px
	color red
	background-color transparent
	background-image none
.content__header-nav-button.active
		color #000
		background-image url('../img/line6.png')
		background-repeat no-repeat
		background-position center bottom

.clearfix
	clearfix()