extend blocks/layout

block header
	header.header
		.header__top
			a(href="#").header__top-appleshop.clearfix
				img(src="img/EpplShop.png").header__top-appleshop-img
				span.header__top-appleshop-span AppleShop
			.header__contact.clearfix
				.header__contact-addr
					span.kod +7(921)
					span.tel 322 12 32
					a(href="email:manager@company.com").email manager@company.com
		nav.header__nav
			ul.header__nav-ul
				each n in ['Мобильный телефоны', 'Планшеты', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары']
					li.header__nav-li
						a(href="").header__nav-a=n
		.breabcrumbs
			.breabcrumbs__list
				span.list.selected Главная
				span.divider
				span.list Каталог
			.header__view
				select.header__view-select
					option.header__view-option.selected Сеткой
					option.header__view-option Линиями
				ul.another
					li.another.selected 1
					- for (var i = 2; i < 6; i++)
						li.another=i
					li.another Все
