extend blocks/layout

block content
	.content
		.content__header
			span.content__header-logo Портфолио
			button.content__header-nav-button.active Обо мне
			button.content__header-nav-button Портфолио
			button.content__header-nav-button Связаться
		.content__about
			h2.content__about-head Обо мне
			p.content__about-p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae congue sem. 
				|Etiam non nisl ut ligula facilisis cursus quis sed eros. Praesent non augue 
				|ultricies turpis posuere dignissim ac non velit. Sed eget mauris purus, elementum 
				|aliquet erat. Suspendisse aliquam commodo nisl vel fringilla. Sed tempus neque 
				|pretium velit lacinia in ultrices felis sagittis. Vivamus nisi nisi, aliquam et 
				|fringilla semper, iaculis vel velit. Vestibulum pretium nibh a sapien sodales 
				|condimentum. Phasellus semper placerat arcu, a lobortis tellus consectetur a. 
				|Nam faucibus laoreet elit, commodo euismod mi consectetur at. 
			ul.content__about-ul
				li.content__about-li
					a(href='#').content__about-a
						span.content__about-span Follow me on Twitter!
						img(src='img/tw.png').content__about-img
				li.content__about-li
					a(href='#').content__about-a
						span.content__about-span Find me on Facebook!
						img(src='img/face.png').content__about-img
				li.content__about-li
					a(href='#').content__about-a
						span.content__about-span See My Photos on Picasa!
						img(src='img/photos.png').content__about-img
		.content__devider-1
		.content__portfolio
			.content__portfolio-images
		.content__devider-2
		.content__contact
			.content__contact-ps
				p.content__contact-p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae congue sem. 
				|Etiam non nisl ut ligula facilisis cursus quis sed eros. Praesent non augue 
				|ultricies turpis posuere dignissim ac non velit. Sed eget mauris purus, elementum 
				|aliquet erat. Suspendisse aliquam commodo nisl vel fringilla. Sed tempus neque 
				|pretium velit lacinia in ultrices felis sagittis. Vivamus nisi nisi, aliquam et 
				|fringilla semper, iaculis vel velit. Vestibulum pretium nibh a sapien sodales 
				|condimentum. Phasellus semper placerat arcu, a lobortis tellus consectetur a. 
				|Nam faucibus laoreet elit, commodo euismod mi consectetur at. 
				img(src='img/kauk.png').content__contact-img
			.content__contact-form
				form(method='POST').contact
					label.content__contact-label Как вас зовут?
						input(type='text').content__contact-input
					label.content__contact-label Вам e-mail?
						input(type='email')
					label.content__contact-label Коротко о 