extend blocks/layout

block content
	section.content
		.title КОНТАКТЫ
		.nav.clearfix
			button.append Добавить
			.preview
				input(type='radio' name='radio_view' id='list' checked="checked").input__list
				label(for='list').label__list
				input(type='radio' name='radio_view' id='plt').input__plt
				label(for='plt').label__plt
		.content__view
			table.content__table
				th
					td 
															
					
